---
# tasks file for ./roles/apache

- name: Install Apache2
  apt: 
    name: apache2
    state: present
    update_cache: yes
  
- name: Apache start
  systemd:
    name: apache2
    state: started
    enabled: yes

- name: Open port 80
  ufw:
    rule: allow
    port: "{{ apache_port }}"
    proto: tcp
  when: ansible_facts.os_family == "Debian"

- name: Deploy index.html
  template:
    src: index.html.j2
    dest: /var/www/html/index.html
    owner: root
    group: root
    mode: '0644'
  notify: Restart Apache

- name: Check
  uri:
    url: "http://{{ ansible_default_ipv4.address }}"
    status_code: 200